.prefoot1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.prefoot1 >div{
    display: flex;
justify-content: center;
align-items: center;
    margin: 20px;
    color: rgb(110, 107, 107);

}

.prefoot1 >div >p{
margin-left: 20px;
}

.prefoot2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    margin: auto;
    color: rgb(126, 116, 116);
    justify-content: space-around;
    background-color: rgba(231, 220, 220, 0.133);
}
.prefoot2>div>span{
margin-left: 10px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3.8vmax;
    background-color: rgb(19, 19, 19);
    color: white;
}
.footer >div{
margin: 1vmax;
display: flex;
flex-direction: column;
}

.footer >div >a{
    color: white;
    text-decoration: none;
padding: 5px;
}
@media screen and (min-width: 360px) and (max-width: 600px) {
    .footer>div{
        font-size: 10px !important;}
    }
       
      
    
    

